<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pokemon page</title>
  </head>
  <body>


    <form action="/pokemon/add" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="number" name="cp" placeholder="cp">
      <select name="trainers">
      <% trainers.map((trainers)=>{ %>
      <option value="<%= trainers.id %>" >
        <%= trainers.name %> </option>
        <% }) %>
      </select>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
